$coord file=coord
$eht charge=0 unpaired=0
$symmetry c1
$atoms
    basis =def2-QZVP
    jbas  =def2-QZVP
$dft
  functional b-lyp
$rij
$energy file=energy
$grad file=gradient
$last step     ridft
$basis file=basis
$jbas file=auxbasis
$closed shells
 a       1-14                                   ( 2 )
$scfmo    file=mos
$last SCF energy change = -.18290461E-06
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.00041033767572    y    -0.00000000000384    z    -0.00041204119688    a.u.
   | dipole | =    0.0014780645  debye
$redundant    file=coord
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.20049578313091E-02
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-568.0549274182    -830.4658225942     275.5660960899    -36.70447051072    -1.046012055798     24.59528165260
$end
