$coord file=coord
$eht charge=0 unpaired=0
$symmetry c1
$atoms
    basis =def2-QZVP
    jbas  =def2-QZVP
$dft
  functional b-lyp
$rij
$disp3 -bj
$energy file=energy
$grad file=gradient
$last step     ridft
$basis file=basis
$jbas file=auxbasis
$closed shells
 a       1-23                                   ( 2 )
$scfmo    file=mos
$last SCF energy change = -.40050963E-07
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.00026752466064    y    -0.00000000000299    z     0.02112485951679    a.u.
   | dipole | =    0.0536987484  debye
$redundant    file=coord
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.73059954245521E-03
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En                 Disp
-2794.346321039    -4001.903697938     1250.289411111    -100.3514312360    -2.044978426267     59.66794661802    -.3571167303004E-02
$end
