$coord file=coord
$eht charge=0 unpaired=0
$symmetry c1
$atoms
    basis =def2-QZVP
    jbas  =def2-QZVP
$dft
  functional b-lyp
$rij
$disp3 -bj
$energy file=energy
$grad file=gradient
$last step     ridft
$basis file=basis
$jbas file=auxbasis
$closed shells
 a       1-23                                   ( 2 )
$scfmo    file=mos
$last SCF energy change = -.19206027E-06
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.00040474412257    y     0.00000000000878    z    -0.00008248786787    a.u.
   | dipole | =    0.0010499125  debye
$redundant    file=coord
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.20044701030322E-02
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En                 Disp
-2794.346044895    -3959.689123807     1229.191323952    -100.3501101726    -2.043657325572     38.54793898367    -.2416525041274E-02
$end
