$coord file=coord
$eht charge=0 unpaired=0
$symmetry c1
$atoms
    basis =def2-QZVP
    cbas  =def2-QZVP
    jbas  =def2-QZVP
$scfconv 7
$denconv 1.0d-7
$ricc2
  mp2
  geoopt model=mp2
$energy file=energy
$grad file=gradient
$rij
$last step     ricc2
$basis file=basis
$jbas file=auxbasis
$closed shells
 a       1-14                                   ( 2 )
$scfmo    file=mos
$last SCF energy change = -.19900767E-07
$charge from ridft
          0.000 (not to be modified here)
$dipole from ricc2
  x    -0.00000005523788    y    -0.00000000003451    z     0.00040772915767    a.u.
   | dipole | =    0.0010363520  debye
$cbas file=auxbasis
$last MP2 energy change= 0.55467493E-07
$redundant    file=coord
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.66784165283173E-04
$subenergy  Etot         E1                  Ej                Ex                 En
-567.0341228176    -835.2749792889     0.000000000000     0.000000000000     27.08949088284
$end
