$coord file=coord
$eht charge=0 unpaired=0
$symmetry c1
$atoms
    basis =def2-QZVP
    jbas  =def2-QZVP
$dft
  functional b-lyp
$rij
$disp3 -bj
$energy file=energy
$grad file=gradient
$last step     ridft
$basis file=basis
$jbas file=auxbasis
$closed shells
 a       1-14                                   ( 2 )
$scfmo    file=mos
$last SCF energy change = -.20054267E-06
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.00039254646058    y     0.00000000000455    z     0.00319656366787    a.u.
   | dipole | =    0.0081859504  debye
$redundant    file=coord
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.21507856886559E-02
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En                 Disp
-568.0573890421    -840.6242977128     280.6437562011    -36.70448138004    -1.046023065950     29.67614203881    -.2485123256380E-02
$end
