$coord file=coord
$eht charge=0 unpaired=0
$symmetry c1
$atoms
    basis =def2-TZVP
    cbas  =def2-TZVP
    jbas  =def2-TZVP
$scfconv 7
$denconv 1.0d-7
$ricc2
  mp2
$rij
$last step     force
$closed shells
 a       1-7                                    ( 2 )
$scfmo    file=mos
$orbital_max_rnorm 0.12911161240184E-05
$energy      SCF               SCFKIN            SCFPOT            MP2
     1 -112.7846609059      112.594299     -225.378960     -.3904532791982
$last SCF energy change = -112.78466
$subenergy  Etot         E1                  Ej                Ex                 En
-112.7846609059    -197.9885604184     0.000000000000     0.000000000000     22.38979729764
$charge from ridft
          0.000 (not to be modified here)
$dipole from force
  x     0.11494289003893    y     0.00586478950094    z    -0.00000000000000    a.u.
   | dipole | =    0.2925379476  debye
$cbas file=auxbasis
$last MP2 energy change= -.39045328
$basis file=basis
$jbas file=auxbasis
$dipgrad    file=dipgrad
$hessian (projected)    file=hessian
$vibrational normal modes    file=vib_normal_modes
$vibrational reduced masses
  15.9934781182  15.9994000000  12.0130573628  12.0111500000  14.0072217927
  13.4486962145
$nvibro        6
$vibrational spectrum    file=vibspectrum
$end
