$coord file=coord
$eht charge=0 unpaired=0
$symmetry c1
$atoms
    basis =def2-QZVP
    jbas  =def2-QZVP
$dft
  functional b-lyp
$rij
$energy file=energy
$grad file=gradient
$last step     ridft
$basis file=basis
$jbas file=auxbasis
$closed shells
 a       1-14                                   ( 2 )
$scfmo    file=mos
$last SCF energy change = -.17779280E-06
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.00035711264053    y    -0.00000000000306    z     0.00794079618124    a.u.
   | dipole | =    0.0202040433  debye
$redundant    file=coord
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.21393702445875E-02
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-568.0547510671    -847.8582295168     284.2589585611    -36.70434842508    -1.046214781660     33.29508309534
$end
