$coord file=coord
$eht charge=0 unpaired=0
$symmetry c1
$atoms
    basis =def2-QZVP
    jbas  =def2-QZVP
$dft
  functional b-lyp
$rij
$energy file=energy
$grad file=gradient
$last step     ridft
$basis file=basis
$jbas file=auxbasis
$closed shells
 a       1-23                                   ( 2 )
$scfmo    file=mos
$last SCF energy change = -.18190394E-06
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.00034740832817    y     0.00000000000045    z     0.00701061719997    a.u.
   | dipole | =    0.0178412119  debye
$redundant    file=coord
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.20620612387447E-02
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-2794.343473721    -3982.858050049     1240.771194467    -100.3500017631    -2.043778159447     50.13716178402
$end
