$coord file=coord
$eht charge=-1 unpaired=0
$symmetry c1
$atoms
    basis =def2-TZVP
    jbas  =def2-TZVP
$dft
  functional pw6b95
$rij
$disp3 -bj
$cosmo
epsilon=32.0
$energy file=energy
$grad file=gradient
$last step     ridft
$basis file=basis
$jbas file=auxbasis
$closed shells
 a       1-18                                   ( 2 )
$scfmo    file=mos
$last SCF energy change = 0.87972012E-07
$charge from ridft
         -1.000 (not to be modified here)
$dipole from ridft
  x    -0.00115654614366    y    -0.00046935014690    z    -4.17202196984858    a.u.
   | dipole | =   10.6043027337  debye
$redundant    file=coord
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.10722054032743E-03
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En                 Disp
-600.6654521376    -1002.498224674     352.2935086070    -32.28545957930    -1.436600587105     83.26256121142    -.1237115904306E-02
$end
