$coord file=coord
$eht charge=0 unpaired=0
$symmetry c1
$atoms
    basis =def2-QZVP
    jbas  =def2-QZVP
$dft
  functional b-lyp
$rij
$energy file=energy
$grad file=gradient
$last step     ridft
$basis file=basis
$jbas file=auxbasis
$closed shells
 a       1-14                                   ( 2 )
$scfmo    file=mos
$last SCF energy change = -.18371475E-06
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.00039465154244    y     0.00000000000004    z     0.00269112021940    a.u.
   | dipole | =    0.0069133587  debye
$redundant    file=coord
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.20556016569067E-02
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-568.0549165142    -839.9010151644     280.2822766188    -36.70445729998    -1.046018094648     29.31429742597
$end
