$coord file=coord
$eht charge=0 unpaired=0
$symmetry c1
$atoms
    basis =def2-QZVP
    jbas  =def2-QZVP
$dft
  functional b-lyp
$rij
$disp3 -bj
$energy file=energy
$grad file=gradient
$last step     ridft
$basis file=basis
$jbas file=auxbasis
$closed shells
 a       1-23                                   ( 2 )
$scfmo    file=mos
$last SCF energy change = -.19590107E-06
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.00039274173880    y     0.00000000000039    z     0.00234096904722    a.u.
   | dipole | =    0.0060333520  debye
$redundant    file=coord
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.21127211103688E-02
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En                 Disp
-2794.346076247    -3967.881137587     1233.285887514    -100.3501265850    -2.043659906179     42.64542029548    -.2459977701993E-02
$end
