/*/*/*.gbw

/*/*/*/*/*/*basis
/*/*/*/*/*/*auxbasis
/*/*/*/*/*/*statistics
/*/*/*/*/*/*GEO_OPT_CONVERGED
/*/*/*/*/*/*hessapprox
/*/*/*/*/*/*job.start
/*/*/*/*/*/*converged
/*/*/*/*/*/*mos
/*/*/*/*/*/*gradient
/*/*/*/*/*/*jobex.out
/*/*/*/*/*/*alpha
/*/*/*/*/*/*beta

/*/*/*/*/*basis
/*/*/*/*/*auxbasis
/*/*/*/*/*statistics
/*/*/*/*/*GEO_OPT_CONVERGED
/*/*/*/*/*hessapprox
/*/*/*/*/*job.start
/*/*/*/*/*converged
/*/*/*/*/*mos
/*/*/*/*/*gradient
/*/*/*/*/*jobex.out
/*/*/*/*/*alpha
/*/*/*/*/*beta
/*/*/*/*/*.gbw

/*/*/*/*basis
/*/*/*/*auxbasis
/*/*/*/*statistics
/*/*/*/*GEO_OPT_CONVERGED
/*/*/*/*hessapprox
/*/*/*/*job.start
/*/*/*/*.gbw

/*/*/*basis
/*/*/*auxbasis
/*/*/*statistics
/*/*/*GEO_OPT_CONVERGED
/*/*/*hessapprox
/*/*/*job.start