/*/*/*.gbw

/*/*/*/*/*/*/*CCR0--1--1---0

/*/*/*/*/*/*basis
/*/*/*/*/*/*auxbasis
/*/*/*/*/*/*statistics
/*/*/*/*/*/*GEO_OPT_CONVERGED
/*/*/*/*/*/*hessapprox
/*/*/*/*/*/*job.start
/*/*/*/*/*/*converged
/*/*/*/*/*/*mos
/*/*/*/*/*/*gradient
/*/*/*/*/*/*jobex.out
/*/*/*/*/*/*alpha
/*/*/*/*/*/*beta
/*/*/*/*/*/*statistics
/*/*/*/*/*/*statistics.ricc2
/*/*/*/*/*/*CCO0--1--1---0
/*/*/*/*/*/*restart.cc
/*/*/*/*/*/*CCR0--1--1---0
/*/*/*/*/*/*CCl0o-1--1---0
/*/*/*/*/*/*mp2-gs1d-ur-1a-000.cao
/*/*/*/*/*/*mp2-gsdn-1a-000-total.cao

/*/*/*/*/*basis
/*/*/*/*/*auxbasis
/*/*/*/*/*statistics
/*/*/*/*/*GEO_OPT_CONVERGED
/*/*/*/*/*hessapprox
/*/*/*/*/*job.start
/*/*/*/*/*converged
/*/*/*/*/*mos
/*/*/*/*/*gradient
/*/*/*/*/*jobex.out
/*/*/*/*/*alpha
/*/*/*/*/*beta
/*/*/*/*/*.gbw
/*/*/*/*/*statistics
/*/*/*/*/*CCR0--1--1---0

/*/*/*/*basis
/*/*/*/*auxbasis
/*/*/*/*statistics
/*/*/*/*GEO_OPT_CONVERGED
/*/*/*/*hessapprox
/*/*/*/*job.start
/*/*/*/*.gbw
/*/*/*/*CCR0--1--1---0
/*/*/*/*CCR0--1--1---0  -dAA
/*/*/*/*CCO0--1--1---0

/*/*/*basis
/*/*/*auxbasis
/*/*/*statistics
/*/*/*GEO_OPT_CONVERGED
/*/*/*hessapprox
/*/*/*job.start