$coord file=coord
$eht charge=0 unpaired=0
$symmetry c1
$atoms
    basis =def2-TZVP
    cbas  =def2-TZVP
    jbas  =def2-TZVP
$scfconv 7
$denconv 1.0d-7
$ricc2
  mp2
$rij
$last step     force
$closed shells
 a       1-5                                    ( 2 )
$scfmo    file=mos
$orbital_max_rnorm 0.17171037539952E-04
$energy      SCF               SCFKIN            SCFPOT            MP2
     1 -76.05818889314      75.9579678     -152.016157     -.2734494430058
$last SCF energy change = -76.058189
$subenergy  Etot         E1                  Ej                Ex                 En
-76.05818889314    -122.8780214224     0.000000000000     0.000000000000     9.080719541397
$charge from ridft
          0.000 (not to be modified here)
$dipole from force
  x     0.49272729915467    y     0.65449500080973    z     0.23904250551580    a.u.
   | dipole | =    2.1691333851  debye
$cbas file=auxbasis
$last MP2 energy change= -.27344944
$basis file=basis
$jbas file=auxbasis
$dipgrad    file=dipgrad
$hessian (projected)    file=hessian
$vibrational normal modes    file=vib_normal_modes
$vibrational reduced masses
   5.3162165244   6.3423526499  13.2984067121   1.0528846076   1.0197765909
   1.0159846197   1.0828097577   1.0453254485   1.0819166337
$nvibro        9
$vibrational spectrum    file=vibspectrum
$end
