$coord file=coord
$eht charge=0 unpaired=2
$symmetry c1
$atoms
    basis =def2-TZVP
    jbas  =def2-TZVP
$dft
functional pw6b95
$rij
$energy file=energy
$grad file=gradient
$last step     ridft
$basis file=basis
$jbas file=auxbasis
$uhf
$alpha shells
 a       1-5                                    ( 1 )
$beta shells
 a       1-3                                    ( 1 )
$uhfmo_alpha    file=alpha
$uhfmo_beta    file=beta
$last SCF energy change = -.48334826E-07
$ssquare from ridft
          2.006 (not to be modified here)
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x    -0.25481530502053    y    -0.01016252112602    z    -0.00000000000001    a.u.
   | dipole | =    0.6481956822  debye
$redundant    file=coord
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.38267497150904E-04
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-39.21268158868    -64.03113680478     23.14692815383    -4.289495746849    -.2147583310329     6.175781140149
$end
