$coord file=coord
$eht charge=0 unpaired=0
$symmetry c1
$atoms
    basis =def2-QZVP
    jbas  =def2-QZVP
$dft
  functional b-lyp
$rij
$energy file=energy
$grad file=gradient
$last step     ridft
$basis file=basis
$jbas file=auxbasis
$closed shells
 a       1-23                                   ( 2 )
$scfmo    file=mos
$last SCF energy change = -.18405126E-06
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.00040968344538    y    -0.00000000001461    z    -0.00019449582197    a.u.
   | dipole | =    0.0011527101  debye
$redundant    file=coord
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.19884895655099E-02
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-2794.343628392    -3952.845210447     1225.769959015    -100.3500997787    -2.043657035841     35.12537985483
$end
