$coord file=coord
$eht charge=0 unpaired=0
$symmetry c1
$atoms
    basis =def2-QZVP
    jbas  =def2-QZVP
$dft
  functional b-lyp
$rij
$energy file=energy
$grad file=gradient
$last step     ridft
$basis file=basis
$jbas file=auxbasis
$closed shells
 a       1-23                                   ( 2 )
$scfmo    file=mos
$last SCF energy change = -.80424343E-07
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.00018580918667    y     0.00000000000071    z     0.02601796882291    a.u.
   | dipole | =    0.0661332666  debye
$redundant    file=coord
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.20889954009668E-02
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-2794.342369792    -4004.962921005     1251.817888997    -100.3515103280    -2.045323253666     61.19949579651
$end
