$coord file=coord
$eht charge=0 unpaired=0
$symmetry c1
$atoms
    basis =def2-QZVP
    jbas  =def2-QZVP
$dft
  functional b-lyp
$rij
$disp3 -bj
$energy file=energy
$grad file=gradient
$last step     ridft
$basis file=basis
$jbas file=auxbasis
$closed shells
 a       1-14                                   ( 2 )
$scfmo    file=mos
$last SCF energy change = -.20847358E-06
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.00038417727754    y     0.00000000000950    z     0.00419160347282    a.u.
   | dipole | =    0.0106987298  debye
$redundant    file=coord
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.22077953394614E-02
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En                 Disp
-568.0573874875    -843.0052307394     281.8340375955    -36.70448140541    -1.046046301704     30.86687681362    -.2543450142532E-02
$end
