$coord file=coord
$eht charge=0 unpaired=0
$symmetry c1
$atoms
    basis =def2-QZVP
    jbas  =def2-QZVP
$dft
  functional b-lyp
$rij
$energy file=energy
$grad file=gradient
$last step     ridft
$basis file=basis
$jbas file=auxbasis
$closed shells
 a       1-14                                   ( 2 )
$scfmo    file=mos
$last SCF energy change = -.67010660E-07
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.00022763281592    y    -0.00000000000038    z     0.03402411432643    a.u.
   | dipole | =    0.0864832615  debye
$redundant    file=coord
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.23952142808433E-02
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-568.0532238403    -859.2887192962     289.9729488544    -36.70659190309    -1.048047978841     39.01718648341
$end
