$coord file=coord
$eht charge=0 unpaired=0
$symmetry c1
$atoms
    basis =def2-QZVP
    jbas  =def2-QZVP
$dft
  functional b-lyp
$rij
$disp3 -bj
$energy file=energy
$grad file=gradient
$last step     ridft
$basis file=basis
$jbas file=auxbasis
$closed shells
 a       1-14                                   ( 2 )
$scfmo    file=mos
$last SCF energy change = -.19002084E-06
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.00040952455650    y     0.00000000000920    z    -0.00037002557630    a.u.
   | dipole | =    0.0014028826  debye
$redundant    file=coord
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.20377121530996E-02
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En                 Disp
-568.0573270670    -831.9562814509     276.3112637552    -36.70449738697    -1.046013406016     25.34060537402    -.2403952308183E-02
$end
