$coord file=coord
$eht charge=0 unpaired=0
$symmetry c1
$atoms
    basis =def2-QZVP
    jbas  =def2-QZVP
$scfconv 7
$denconv 1.0d-7
$ricc2
  ccsd(t)
$rij
$last step     ridft
$basis file=basis
$jbas file=auxbasis
$closed shells
 a       1                                      ( 2 )
$scfmo    file=mos
$orbital_max_rnorm 0.83907563419647E-06
$energy      SCF               SCFKIN            SCFPOT
     1   -1.133638767247    1.123905847960   -2.257544615207
$last SCF energy change = -1.1336388
$subenergy  Etot         E1                  Ej                Ex                 En
-1.133638767247    -2.503108664871     0.000000000000     0.000000000000    0.7117220172319
$charge from ridft
         -0.000 (not to be modified here)
$dipole from ridft
  x     0.00000000000028    y    -0.00000000000016    z     0.00000000000001    a.u.
   | dipole | =    0.0000000000  debye
$end
