$coord file=coord
$eht charge=0 unpaired=0
$symmetry c1
$atoms
    basis =def2-QZVP
    jbas  =def2-QZVP
$scfconv 7
$denconv 1.0d-7
$ricc2
  ccsd(t)
$rij
$last step     ridft
$basis file=basis
$jbas file=auxbasis
$closed shells
 a       1-7                                    ( 2 )
$scfmo    file=mos
$orbital_max_rnorm 0.18790278630998E-05
$energy      SCF               SCFKIN            SCFPOT
     1 -108.9918585059      108.7505320533     -217.7423905593
$last SCF energy change = -108.99186
$subenergy  Etot         E1                  Ej                Ex                 En
-108.9918585059    -194.1888450407     0.000000000000     0.000000000000     23.57231108640
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x    -0.00000000000230    y     0.00000000000099    z     0.00000000000000    a.u.
   | dipole | =    0.0000000000  debye
$end
