$coord file=coord
$eht charge=0 unpaired=2
$symmetry c1
$atoms
    basis =def2-TZVP
    cbas  =def2-TZVP
    jbas  =def2-TZVP
$scfconv 7
$denconv 1.0d-7
$ricc2
  ccsd(t)
$rij
$energy file=energy
$grad file=gradient
$last step     ccsdf12
$basis file=basis
$jbas file=auxbasis
$uhf
$alpha shells
 a       1-5                                    ( 1 )
$beta shells
 a       1-3                                    ( 1 )
$uhfmo_alpha    file=alpha
$uhfmo_beta    file=beta
$orbital_max_rnorm 0.86669672938838E-05
$last SCF energy change = -38.938324
$subenergy  Etot         E1                  Ej                Ex                 En
-38.93832363209    -63.95206961468     0.000000000000     0.000000000000     6.177380829605
$ssquare from ridft
          2.016 (not to be modified here)
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x    -0.23586775236038    y    -0.00939573839051    z    -0.00000398383766    a.u.
   | dipole | =    0.5999960319  debye
$cbas file=auxbasis
$last CCSD(T) energy change= -.15285747
$end
