$coord file=coord
$eht charge=0 unpaired=0
$symmetry c1
$atoms
    basis =cc-pVQZ
    jbas  =cc-pVQZ
$rij
$last step     ridft
$basis file=basis
$jbas file=auxbasis
$closed shells
 a       1-12                                   ( 2 )
$scfmo    file=mos
$orbital_max_rnorm 0.28551397746493E-04
$energy      SCF               SCFKIN            SCFPOT
     1 -188.8540283253      188.5240329843     -377.3780613097
$last SCF energy change = -188.85403
$subenergy  Etot         E1                  Ej                Ex                 En
-188.8540283253    -397.2851342977     0.000000000000     0.000000000000     69.76042280498
$charge from ridft
         -0.000 (not to be modified here)
$dipole from ridft
  x     0.35214131238962    y    -0.56861844887881    z    -0.02286496857822    a.u.
   | dipole | =    1.7009963315  debye
$end
