$coord file=coord
$eht charge=0 unpaired=0
$symmetry c1
$atoms
    basis =def2-QZVP
    jbas  =def2-QZVP
$dft
  functional b-lyp
$rij
$energy file=energy
$grad file=gradient
$last step     ridft
$basis file=basis
$jbas file=auxbasis
$closed shells
 a       1-14                                   ( 2 )
$scfmo    file=mos
$last SCF energy change = -.18273943E-06
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.00040393939057    y     0.00000000000068    z     0.00052232101484    a.u.
   | dipole | =    0.0016783090  debye
$redundant    file=coord
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.20270319659008E-02
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-568.0549217321    -836.1619989430     278.4136299008    -36.70448061006    -1.046011529864     27.44393944991
$end
