$coord file=coord
$eht charge=-1 unpaired=0
$symmetry c1
$atoms
    basis =def2-TZVP
    jbas  =def2-TZVP
$dft
  functional pw6b95
$rij
$disp3 -bj
$energy file=energy
$grad file=gradient
$last step     ridft
$basis file=basis
$jbas file=auxbasis
$closed shells
 a       1-18                                   ( 2 )
$scfmo    file=mos
$last SCF energy change = -.79894335E-07
$charge from ridft
         -1.000 (not to be modified here)
$dipole from ridft
  x     0.00063274246109    y    -0.00000007911985    z    -4.01071811106086    a.u.
   | dipole | =   10.1943057737  debye
$redundant    file=coord
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.89711663010689E-04
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En                 Disp
-600.5441771084    -999.3245822197     350.6929230558    -32.27370212736    -1.435034115294     81.79743917328    -.1220875134316E-02
$end
