$coord file=coord
$eht charge=-1 unpaired=0
$symmetry c1
$atoms
    basis =def2-TZVP
    jbas  =def2-TZVP
$dft
  functional pw6b95
$rij
$disp3 -bj
$cosmo
epsilon=32.0
$energy file=energy
$grad file=gradient
$last step     ridft
$basis file=basis
$jbas file=auxbasis
$closed shells
 a       1-18                                   ( 2 )
$scfmo    file=mos
$last SCF energy change = 0.31006584E-06
$charge from ridft
         -1.000 (not to be modified here)
$dipole from ridft
  x    -0.00132443549054    y    -0.00007334455376    z     4.31813717238045    a.u.
   | dipole | =   10.9756933841  debye
$redundant    file=coord
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.13187032302870E-04
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En                 Disp
-600.6876779558    -992.4874701058     347.4950591587    -32.24303366941    -1.429336906284     77.97823247256    -.1128905589859E-02
$end
