$coord file=coord
$eht charge=0 unpaired=0
$symmetry c1
$atoms
    basis =def2-QZVP
    cbas  =def2-QZVP
    jbas  =def2-QZVP
$scfconv 7
$denconv 1.0d-7
$ricc2
  mp2
  geoopt model=mp2
$energy file=energy
$grad file=gradient
$rij
$last step     ricc2
$basis file=basis
$jbas file=auxbasis
$closed shells
 a       1-14                                   ( 2 )
$scfmo    file=mos
$last SCF energy change = -.11362317E-07
$charge from ridft
         -0.000 (not to be modified here)
$dipole from ricc2
  x    -0.00000011018456    y     0.00000000013779    z     0.00091298934353    a.u.
   | dipole | =    0.0023206050  debye
$cbas file=auxbasis
$last MP2 energy change= 0.11052882E-06
$redundant    file=coord
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.83823622875720E-04
$subenergy  Etot         E1                  Ej                Ex                 En
-567.0341229884    -838.7326112426     0.000000000000     0.000000000000     28.81890818506
$end
