$coord file=coord
$eht charge=0 unpaired=0
$symmetry c1
$atoms
    basis =def2-TZVP
    cbas  =def2-TZVP
    jbas  =def2-TZVP
$scfconv 7
$denconv 1.0d-7
$ricc2
  mp2
$rij
$last step     force
$closed shells
 a       1                                      ( 2 )
$scfmo    file=mos
$orbital_max_rnorm 0.39720407714903E-06
$energy      SCF               SCFKIN            SCFPOT            MP2
     1 -1.132646870788      1.12057219     -2.25321906     -.2774115505511E-01
$last SCF energy change = -1.1326469
$subenergy  Etot         E1                  Ej                Ex                 En
-1.132646870788    -2.501447035278     0.000000000000     0.000000000000    0.7117220172319
$charge from ridft
         -0.000 (not to be modified here)
$dipole from force
  x     0.00000000000001    y     0.00000000000001    z     0.00000000000000    a.u.
   | dipole | =    0.0000000000  debye
$cbas file=auxbasis
$last MP2 energy change= -.27741155E-01
$basis file=basis
$jbas file=auxbasis
$dipgrad    file=dipgrad
$hessian (projected)    file=hessian
$vibrational normal modes    file=vib_normal_modes
$vibrational reduced masses
   1.0079700000   1.0079700000   1.0079700000   1.0079700000   1.0079700000
   1.0079700000
$nvibro        6
$vibrational spectrum    file=vibspectrum
$end
