$coord file=coord
$eht charge=0 unpaired=0
$symmetry c1
$atoms
    basis =def2-QZVP
    jbas  =def2-QZVP
$dft
  functional b-lyp
$rij
$disp3 -bj
$energy file=energy
$grad file=gradient
$last step     ridft
$basis file=basis
$jbas file=auxbasis
$closed shells
 a       1-14                                   ( 2 )
$scfmo    file=mos
$last SCF energy change = -.18890648E-06
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.00041069254410    y     0.00000000000332    z    -0.00040731992871    a.u.
   | dipole | =    0.0014702261  debye
$redundant    file=coord
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.20396852033764E-02
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En                 Disp
-568.0573274764    -829.7889372977     275.2276973837    -36.70449651764    -1.046013220931     24.25682095692    -.2398780704019E-02
$end
