$coord file=coord
$eht charge=-1 unpaired=0
$symmetry c1
$atoms
    basis =def2-TZVP
    jbas  =def2-TZVP
$dft
  functional pw6b95
$rij
$disp3 -bj
$cosmo
epsilon=32.0
$energy file=energy
$grad file=gradient
$last step     ridft
$basis file=basis
$jbas file=auxbasis
$closed shells
 a       1-18                                   ( 2 )
$scfmo    file=mos
$last SCF energy change = 0.71494242E-08
$charge from ridft
         -1.000 (not to be modified here)
$dipole from ridft
  x    -0.00117427801885    y    -0.00067750518890    z    -5.88699045840922    a.u.
   | dipole | =   14.9633507024  debye
$redundant    file=coord
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.12148499504328E-03
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En                 Disp
-600.6646938383    -991.0375474938     346.2799057568    -32.28703967470    -1.434613676587     77.81574167072    -.1140420662566E-02
$end
