$coord file=coord
$eht charge=0 unpaired=0
$symmetry c1
$atoms
    basis =def2-QZVP
    jbas  =def2-QZVP
$dft
  functional b-lyp
$rij
$energy file=energy
$grad file=gradient
$last step     ridft
$basis file=basis
$jbas file=auxbasis
$closed shells
 a       1-14                                   ( 2 )
$scfmo    file=mos
$last SCF energy change = -.15329169E-06
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.00029543060586    y    -0.00000000000077    z     0.01718834841695    a.u.
   | dipole | =    0.0436952069  debye
$redundant    file=coord
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.22432067544084E-02
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-568.0543701785    -854.2982165871     287.4774492993    -36.70473122322    -1.046941362440     36.51806969503
$end
