$coord file=coord
$eht charge=0 unpaired=0
$symmetry c1
$atoms
    basis =def2-QZVP
    jbas  =def2-QZVP
$dft
  functional b-lyp
$rij
$disp3 -bj
$energy file=energy
$grad file=gradient
$last step     ridft
$basis file=basis
$jbas file=auxbasis
$closed shells
 a       1-23                                   ( 2 )
$scfmo    file=mos
$last SCF energy change = -.19636627E-06
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.00039709959249    y     0.00000000000119    z     0.00142929994877    a.u.
   | dipole | =    0.0037705502  debye
$redundant    file=coord
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.20686887904826E-02
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En                 Disp
-2794.346061278    -3965.592217497     1232.141964831    -100.3501200373    -2.043658647799     41.50041374693    -.2443674489063E-02
$end
