$coord file=coord
$eht charge=0 unpaired=0
$symmetry c1
$atoms
    basis =def2-TZVP
    cbas  =def2-TZVP
    jbas  =def2-TZVP
$rij
$energy file=energy
$grad file=gradient
$scfconv 7
$denconv 1.0d-7
$ricc2
  mp2
  geoopt model=mp2
$last step     ricc2
$basis file=basis
$jbas file=auxbasis
$closed shells
 a       1-4                                    ( 2 )
$scfmo    file=mos
$last SCF energy change = 0.44156316E-07
$charge from ridft
          0.000 (not to be modified here)
$dipole from ricc2
  x    -0.76999803304357    y    -0.03067326109051    z     0.00000000000000    a.u.
   | dipole | =    1.9587068310  debye
$cbas file=auxbasis
$last MP2 energy change= -.66082760E-07
$redundant    file=coord
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.91696238943800E-06
$subenergy  Etot         E1                  Ej                Ex                 En
-38.89305162430    -63.59980208697     0.000000000000     0.000000000000     6.054807154250
$end
