$coord file=coord
$eht charge=0 unpaired=0
$symmetry c1
$atoms
    basis =def2-QZVP
    jbas  =def2-QZVP
$dft
  functional b-lyp
$rij
$disp3 -bj
$energy file=energy
$grad file=gradient
$last step     ridft
$basis file=basis
$jbas file=auxbasis
$closed shells
 a       1-14                                   ( 2 )
$scfmo    file=mos
$last SCF energy change = -.10474560E-06
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.00036971533940    y    -0.00000000000024    z     0.00926117106964    a.u.
   | dipole | =    0.0235584768  debye
$redundant    file=coord
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.11878915204237E-02
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En                 Disp
-568.0575311506    -849.0158965516     284.8377811046    -36.70479558183    -1.046313792445     33.87451261887    -.2818948206536E-02
$end
