$coord file=coord
$eht charge=0 unpaired=0
$symmetry c1
$atoms
    basis =def2-QZVP
    jbas  =def2-QZVP
$dft
  functional b-lyp
$rij
$energy file=energy
$grad file=gradient
$last step     ridft
$basis file=basis
$jbas file=auxbasis
$closed shells
 a       1-14                                   ( 2 )
$scfmo    file=mos
$last SCF energy change = -.18406388E-06
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.00036972738583    y    -0.00000000000415    z     0.00597026985095    a.u.
   | dipole | =    0.0152040979  debye
$redundant    file=coord
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.20974307679105E-02
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-568.0547965490    -845.7623223038     283.2118137889    -36.70439196215    -1.046113890638     32.24621781877
$end
