$coord file=coord
$eht charge=0 unpaired=2
$symmetry c1
$atoms
    basis =def2-TZVP
    jbas  =def2-TZVP
$rij
$energy file=energy
$grad file=gradient
$scfconv 7
$denconv 1.0d-7
$ricc2
mp2
geoopt model=mp2
$last step     ridft
$basis file=basis
$jbas file=auxbasis
$uhf
$alpha shells
 a       1-21                                   ( 1 )
$beta shells
 a       1-19                                   ( 1 )
$uhfmo_alpha    file=alpha
$uhfmo_beta    file=beta
$last SCF energy change = -.12070305E-06
$ssquare from ridft
          2.022 (not to be modified here)
$charge from ridft
         -0.000 (not to be modified here)
$dipole from ridft
  x    -0.00000299022354    y    -0.00003724335593    z     0.00017193183354    a.u.
   | dipole | =    0.0004472104  debye
$redundant    file=coord
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.68518376887081E-04
$subenergy  Etot         E1                  Ej                Ex                 En
-229.4831839575    -679.1405714978     0.000000000000     0.000000000000     187.1438064169
$end
