$coord file=coord
$eht charge=0 unpaired=0
$symmetry c1
$atoms
    basis =cc-pVDZ
    jbas  =cc-pVDZ
$rij
$last step     ridft
$basis file=basis
$jbas file=auxbasis
$closed shells
 a       1-12                                   ( 2 )
$scfmo    file=mos
$orbital_max_rnorm 0.61668166004320E-04
$energy      SCF               SCFKIN            SCFPOT
     1 -188.7712010046      188.4929071301     -377.2641081347
$last SCF energy change = -188.77120
$subenergy  Etot         E1                  Ej                Ex                 En
-188.7712010046    -396.9277754271     0.000000000000     0.000000000000     69.57644019930
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     1.52446346942818    y    -0.43954837391030    z    -0.62132698209685    a.u.
   | dipole | =    4.3308874308  debye
$end
