$coord file=coord
$eht charge=0 unpaired=0
$symmetry c1
$atoms
    basis =def2-QZVP
    jbas  =def2-QZVP
$dft
  functional b-lyp
$rij
$disp3 -bj
$energy file=energy
$grad file=gradient
$last step     ridft
$basis file=basis
$jbas file=auxbasis
$closed shells
 a       1-23                                   ( 2 )
$scfmo    file=mos
$last SCF energy change = -.19465369E-06
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.00039509259890    y    -0.00000000001047    z     0.00192968834591    a.u.
   | dipole | =    0.0050065657  debye
$redundant    file=coord
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.20971555142717E-02
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En                 Disp
-2794.346068456    -3966.713720272     1232.702419890    -100.3501245364    -2.043659167098     42.06146679753    -.2451167686165E-02
$end
