$coord file=coord
$eht charge=-1 unpaired=0
$symmetry c1
$atoms
    basis =def2-TZVP
    jbas  =def2-TZVP
$dft
  functional pw6b95
$rij
$disp3 -bj
$energy file=energy
$grad file=gradient
$last step     ridft
$basis file=basis
$jbas file=auxbasis
$closed shells
 a       1-18                                   ( 2 )
$scfmo    file=mos
$last SCF energy change = -.13429576E-06
$charge from ridft
         -1.000 (not to be modified here)
$dipole from ridft
  x    -0.00060149154878    y    -0.00000020876723    z    -5.53881824349608    a.u.
   | dipole | =   14.0783782021  debye
$redundant    file=coord
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.61234757495281E-04
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En                 Disp
-600.5354508426    -990.4633994273     346.0392976629    -32.27849217347    -1.433791162013     77.60207474011    -.1140482871295E-02
$end
