$coord file=coord
$eht charge=0 unpaired=0
$symmetry c1
$atoms
    basis =def2-QZVP
    jbas  =def2-QZVP
$dft
  functional b-lyp
$rij
$disp3 -bj
$energy file=energy
$grad file=gradient
$last step     ridft
$basis file=basis
$jbas file=auxbasis
$closed shells
 a       1-14                                   ( 2 )
$scfmo    file=mos
$last SCF energy change = -.10815211E-06
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.00038780796577    y     0.00000000000180    z     0.00775338858250    a.u.
   | dipole | =    0.0197319333  debye
$redundant    file=coord
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.11721724745925E-02
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En                 Disp
-568.0574708892    -846.7983983710     283.7295308156    -36.70479339224    -1.046176587675     32.76506034334    -.2693697235722E-02
$end
