$coord file=coord
$eht charge=0 unpaired=0
$symmetry c1
$atoms
    basis =def2-QZVP
    jbas  =def2-QZVP
$dft
  functional b-lyp
$rij
$disp3 -bj
$energy file=energy
$grad file=gradient
$last step     ridft
$basis file=basis
$jbas file=auxbasis
$closed shells
 a       1-14                                   ( 2 )
$scfmo    file=mos
$last SCF energy change = -.13680551E-06
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.00020042288052    y     0.00000000000107    z     0.04372329768009    a.u.
   | dipole | =    0.1111355450  debye
$redundant    file=coord
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.30152748992616E-02
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En                 Disp
-568.0560689245    -861.2100101719     290.9341871890    -36.70809386196    -1.048613750150     39.98022121384    -.3759543354723E-02
$end
