$coord file=coord
$eht charge=0 unpaired=0
$symmetry c1
$atoms
    basis =def2-QZVP
    jbas  =def2-QZVP
$dft
  functional b-lyp
$rij
$disp3 -bj
$energy file=energy
$grad file=gradient
$last step     ridft
$basis file=basis
$jbas file=auxbasis
$closed shells
 a       1-14                                   ( 2 )
$scfmo    file=mos
$last SCF energy change = -.19120068E-06
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.00040848856936    y    -0.00000000000351    z    -0.00023020552433    a.u.
   | dipole | =    0.0011918076  debye
$redundant    file=coord
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.20432282738628E-02
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En                 Disp
-568.0573273655    -833.2109261724     276.9385273371    -36.70450315222    -1.046013890677     25.96799699712    -.2408484429886E-02
$end
