$coord file=coord
$eht charge=0 unpaired=0
$symmetry c1
$atoms
    basis =def2-QZVP
    jbas  =def2-QZVP
$dft
  functional b2-plyp
$rij
$disp3 -bj
$actual step      ricc2
$basis file=basis
$jbas file=auxbasis
$closed shells
 a       1-5                                    ( 2 )
$scfmo    file=mos
$orbital_max_rnorm 0.62677967678260E-05
$energy      SCF               SCFKIN            SCFPOT
     1   -56.46525197943    56.24102268631  -112.70627466574
$last SCF energy change = -56.465252
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En                 Disp
-56.46525197943    -99.52420512700     35.03147714240    -3.608479800029    -.2319292117021     11.86838369615    -.4986792547677E-03
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.21132031029134    y    -0.30138350888942    z    -0.51655902882670    a.u.
   | dipole | =    1.6122119831  debye
$end
