$coord file=coord
$eht charge=0 unpaired=0
$symmetry c1
$atoms
    basis =def2-QZVP
    jbas  =def2-QZVP
$dft
  functional b-lyp
$rij
$disp3 -bj
$energy file=energy
$grad file=gradient
$last step     ridft
$basis file=basis
$jbas file=auxbasis
$closed shells
 a       1-23                                   ( 2 )
$scfmo    file=mos
$last SCF energy change = -.20021935E-06
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.00038699145613    y     0.00000000000618    z     0.00301929301150    a.u.
   | dipole | =    0.0077371166  debye
$redundant    file=coord
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.21212359617989E-02
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En                 Disp
-2794.346087669    -3970.365353039     1234.527572215    -100.3501174222    -2.043663284705     43.88795652998    -.2482668841920E-02
$end
