$coord file=coord
$eht charge=0 unpaired=0
$symmetry c1
$atoms
    basis =def2-QZVP
    cbas  =def2-QZVP
    jbas  =def2-QZVP
$scfconv 7
$denconv 1.0d-7
$ricc2
  ccsd(t)
$rij
$last step     force
$closed shells
 a       1-5                                    ( 2 )
$scfmo    file=mos
$orbital_max_rnorm 0.17516350578489E-04
$energy      SCF               SCFKIN            SCFPOT            CCSD(T)
     1 -76.06581345313      75.9510744     -152.016888     -.3220270928761
$last SCF energy change = -76.065813
$subenergy  Etot         E1                  Ej                Ex                 En
-76.06581345313    -122.8692844791     0.000000000000     0.000000000000     9.080719541397
$charge from ridft
          0.000 (not to be modified here)
$dipole from force
  x     0.46059425471238    y     0.61180754383806    z     0.22345168107590    a.u.
   | dipole | =    2.0276635086  debye
$cbas file=auxbasis
$last CCSD(T) energy change= -.32202709
$basis file=basis
$jbas file=auxbasis
$dipgrad    file=dipgrad
$hessian (projected)    file=hessian
$vibrational normal modes    file=vib_normal_modes
$vibrational reduced masses
   1.0543152679   6.3261410433   8.8517368195   1.0505752382   5.5567686437
   1.0159846197   1.0826533313   1.0454713008   1.0819166044
$nvibro        9
$vibrational spectrum    file=vibspectrum
$end
