$coord file=coord
$eht charge=0 unpaired=0
$symmetry c1
$atoms
    basis =def2-QZVP
    jbas  =def2-QZVP
$dft
  functional b-lyp
$rij
$energy file=energy
$grad file=gradient
$last step     ridft
$basis file=basis
$jbas file=auxbasis
$closed shells
 a       1-23                                   ( 2 )
$scfmo    file=mos
$last SCF energy change = -.46865352E-07
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.00015104240255    y    -0.00000000000119    z     0.03172395399108    a.u.
   | dipole | =    0.0806357714  debye
$redundant    file=coord
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.20078676631404E-02
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-2794.341768780    -4008.281253718     1253.477129217    -100.3524831167    -2.045780286107     62.86061912345
$end
