$coord file=coord
$eht charge=0 unpaired=0
$symmetry c1
$atoms
    basis =def2-QZVP
    jbas  =def2-QZVP
$dft
  functional b-lyp
$rij
$disp3 -bj
$energy file=energy
$grad file=gradient
$last step     ridft
$basis file=basis
$jbas file=auxbasis
$closed shells
 a       1-14                                   ( 2 )
$scfmo    file=mos
$last SCF energy change = -.19678839E-06
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.00039836259241    y     0.00000000000339    z     0.00173372924422    a.u.
   | dipole | =    0.0045215646  debye
$redundant    file=coord
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.21012783918163E-02
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En                 Disp
-568.0573760957    -838.5490383176     279.6066517984    -36.70450300668    -1.046015032907     28.63797966269    -.2451199579787E-02
$end
