$coord file=coord
$eht charge=0 unpaired=0
$symmetry c1
$atoms
    basis =def2-QZVP
    jbas  =def2-QZVP
$dft
  functional b-lyp
$rij
$energy file=energy
$grad file=gradient
$last step     ridft
$basis file=basis
$jbas file=auxbasis
$closed shells
 a       1-14                                   ( 2 )
$scfmo    file=mos
$last SCF energy change = -.18223284E-06
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.00040146672358    y    -0.00000000000006    z     0.00111429304511    a.u.
   | dipole | =    0.0030104900  debye
$redundant    file=coord
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.20405159330042E-02
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-568.0549249348    -837.3064395978     278.9855940439    -36.70447962375    -1.046011476443     28.01641171933
$end
