$coord file=coord
$eht charge=0 unpaired=0
$symmetry c1
$atoms
    basis =def2-QZVP
    jbas  =def2-QZVP
$dft
  functional b-lyp
$rij
$energy file=energy
$grad file=gradient
$last step     ridft
$basis file=basis
$jbas file=auxbasis
$closed shells
 a       1-14                                   ( 2 )
$scfmo    file=mos
$last SCF energy change = -.17927061E-06
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.00036396871233    y     0.00000000000465    z     0.00713787248795    a.u.
   | dipole | =    0.0181663706  debye
$redundant    file=coord
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.21356826403961E-02
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-568.0547764215    -846.7815613418     283.7209322947    -36.70436285352    -1.046156778332     32.75637225747
$end
