$coord file=coord
$eht charge=0 unpaired=0
$symmetry c1
$atoms
    basis =def2-QZVP
    jbas  =def2-QZVP
$dft
  functional b-lyp
$rij
$disp3 -bj
$energy file=energy
$grad file=gradient
$last step     ridft
$basis file=basis
$jbas file=auxbasis
$closed shells
 a       1-14                                   ( 2 )
$scfmo    file=mos
$last SCF energy change = -.18926539E-06
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.00041018903906    y     0.00000000000327    z    -0.00042495075806    a.u.
   | dipole | =    0.0015012310  debye
$redundant    file=coord
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.20371029362143E-02
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En                 Disp
-568.0573274852    -830.8210578126     275.7437083853    -36.70449588038    -1.046013251660     24.77293196642    -.2400892291217E-02
$end
