$coord file=coord
$eht charge=0 unpaired=0
$symmetry c1
$atoms
    basis =cc-pVQZ
    jbas  =cc-pVQZ
$scfconv 7
$denconv 1.0d-7
$ricc2
  mp2
$rij
$last step     ridft
$basis file=basis
$jbas file=auxbasis
$closed shells
 a       1-12                                   ( 2 )
$scfmo    file=mos
$orbital_max_rnorm 0.81729001557937E-05
$energy      SCF               SCFKIN            SCFPOT
     1 -188.8540283273      188.5240796869     -377.3781080141
$last SCF energy change = -188.85403
$subenergy  Etot         E1                  Ej                Ex                 En
-188.8540283273    -397.2851671953     0.000000000000     0.000000000000     69.76042280498
$charge from ridft
         -0.000 (not to be modified here)
$dipole from ridft
  x     0.35214006520198    y    -0.56858990740707    z    -0.02286606599351    a.u.
   | dipole | =    1.7009331188  debye
$end
