$coord file=coord
$eht charge=0 unpaired=0
$symmetry c1
$atoms
    basis =def2-QZVP
    jbas  =def2-QZVP
$dft
  functional b-lyp
$rij
$energy file=energy
$grad file=gradient
$last step     ridft
$basis file=basis
$jbas file=auxbasis
$closed shells
 a       1-23                                   ( 2 )
$scfmo    file=mos
$last SCF energy change = -.25059308E-07
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.00011456273188    y     0.00000000000203    z     0.03929347156125    a.u.
   | dipole | =    0.0998752220  debye
$redundant    file=coord
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.18470600476741E-02
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-2794.340825538    -4011.841197520     1255.257359635    -100.3539221237    -2.046339462485     64.64327393221
$end
