$coord file=coord
$eht charge=0 unpaired=0
$symmetry c1
$atoms
    basis =def2-QZVP
    jbas  =def2-QZVP
$dft
  functional b-lyp
$rij
$disp3 -bj
$energy file=energy
$grad file=gradient
$last step     ridft
$basis file=basis
$jbas file=auxbasis
$closed shells
 a       1-14                                   ( 2 )
$scfmo    file=mos
$last SCF energy change = -.19049401E-06
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.00040923019976    y     0.00000000000049    z    -0.00034457455376    a.u.
   | dipole | =    0.0013597876  debye
$redundant    file=coord
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.20379923316492E-02
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En                 Disp
-568.0573269649    -832.3603290590     276.5132713306    -36.70449869844    -1.046013501953     25.54264822935    -.2405265447802E-02
$end
