$coord file=coord
$eht charge=0 unpaired=0
$symmetry c1
$atoms
    basis =def2-QZVP
    cbas  =def2-QZVP
    jbas  =def2-QZVP
$scfconv 7
$denconv 1.0d-7
$ricc2
  mp2
  geoopt model=mp2
$energy file=energy
$grad file=gradient
$rij
$last step     ricc2
$basis file=basis
$jbas file=auxbasis
$closed shells
 a       1-23                                   ( 2 )
$scfmo    file=mos
$last SCF energy change = -.16587819E-07
$charge from ridft
         -0.000 (not to be modified here)
$dipole from ricc2
  x     0.00000015738996    y     0.00000000029731    z     0.00260501475299    a.u.
   | dipole | =    0.0066213371  debye
$cbas file=auxbasis
$last MP2 energy change= 0.93120024E-07
$redundant    file=coord
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.64881922739168E-04
$subenergy  Etot         E1                  Ej                Ex                 En
-2792.271223209    -3980.516135669     0.000000000000     0.000000000000     48.57600264571
$end
