$coord file=coord
$eht charge=0 unpaired=0
$symmetry c1
$atoms
    basis =def2-QZVP
    jbas  =def2-QZVP
$dft
  functional b-lyp
$rij
$energy file=energy
$grad file=gradient
$last step     ridft
$basis file=basis
$jbas file=auxbasis
$closed shells
 a       1-14                                   ( 2 )
$scfmo    file=mos
$last SCF energy change = -.18484968E-06
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.00038051280421    y     0.00000000000286    z     0.00443603114741    a.u.
   | dipole | =    0.0113167567  debye
$redundant    file=coord
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.20839308947530E-02
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-568.0548303949    -843.8776723705     282.2701832567    -36.70444116644    -1.046060136155     31.30316002146
$end
