$coord file=coord
$eht charge=0 unpaired=0
$symmetry c1
$atoms
    basis =def2-QZVP
    jbas  =def2-QZVP
$dft
  functional b-lyp
$rij
$disp3 -bj
$energy file=energy
$grad file=gradient
$last step     ridft
$basis file=basis
$jbas file=auxbasis
$closed shells
 a       1-14                                   ( 2 )
$scfmo    file=mos
$last SCF energy change = -.20276923E-06
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.00038987714823    y     0.00000000001525    z     0.00360554941662    a.u.
   | dipole | =    0.0092178844  debye
$redundant    file=coord
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.21660408434336E-02
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En                 Disp
-568.0573850642    -841.3807632851     281.0218771512    -36.70447344853    -1.046027937187     30.05450357589    -.2501120478784E-02
$end
