$coord file=coord
$eht charge=0 unpaired=0
$symmetry c1
$atoms
    basis =def2-QZVP
    jbas  =def2-QZVP
$dft
  functional b-lyp
$rij
$energy file=energy
$grad file=gradient
$last step     ridft
$basis file=basis
$jbas file=auxbasis
$closed shells
 a       1-14                                   ( 2 )
$scfmo    file=mos
$last SCF energy change = -.18304877E-06
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.00038746647785    y    -0.00000000000216    z     0.00395056933405    a.u.
   | dipole | =    0.0100896023  debye
$redundant    file=coord
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.20841511087102E-02
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-568.0548619448    -842.1727123083     281.4177821715    -36.70443473010    -1.046033513129     30.45053643518
$end
