$coord file=coord
$eht charge=0 unpaired=0
$symmetry c1
$atoms
    basis =def2-QZVP
    jbas  =def2-QZVP
$dft
  functional b-lyp
$rij
$disp3 -bj
$energy file=energy
$grad file=gradient
$last step     ridft
$basis file=basis
$jbas file=auxbasis
$closed shells
 a       1-14                                   ( 2 )
$scfmo    file=mos
$last SCF energy change = -.19158722E-06
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.00040743531192    y     0.00000000000220    z    -0.00004225540135    a.u.
   | dipole | =    0.0010411596  debye
$redundant    file=coord
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.20532145892515E-02
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En                 Disp
-568.0573296821    -834.1233000240     277.3946260257    -36.70450621027    -1.046014249292     26.42427750923    -.2412733364467E-02
$end
