$coord file=coord
$eht charge=-1 unpaired=0
$symmetry c1
$atoms
    basis =def2-TZVP
    jbas  =def2-TZVP
$dft
  functional pw6b95
$energy file=energy
$grad file=gradient
$disp3 -bj
$rij
$last step     ridft
$basis file=basis
$jbas file=auxbasis
$closed shells
 a       1-5                                    ( 2 )
$scfmo    file=mos
$orbital_max_rnorm 0.25113759759698E-06
$last SCF energy change = -99.973105
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En                 Disp
-99.97310489971    -144.3333998604     52.32040454662    -7.590182815844    -.3699267700410     0.000000000000     0.000000000000
$charge from ridft
         -1.000 (not to be modified here)
$dipole from ridft
  x    13.06469715164572    y    -2.32625285941435    z     0.00000000000003    a.u.
   | dipole | =   33.7296964040  debye
$end
