$coord file=coord
$eht charge=0 unpaired=0
$symmetry c1
$atoms
    basis =def2-QZVP
    jbas  =def2-QZVP
$dft
  functional b-lyp
$rij
$disp3 -bj
$energy file=energy
$grad file=gradient
$last step     ridft
$basis file=basis
$jbas file=auxbasis
$closed shells
 a       1-23                                   ( 2 )
$scfmo    file=mos
$last SCF energy change = -.19752179E-06
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.00039887031530    y    -0.00000000000596    z     0.00106106164918    a.u.
   | dipole | =    0.0028812339  debye
$redundant    file=coord
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.20481705919397E-02
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En                 Disp
-2794.346055322    -3964.513768743     1231.602945951    -100.3501152054    -2.043658293777     40.96097825034    -.2437280668830E-02
$end
