$coord file=coord
$eht charge=0 unpaired=0
$symmetry c1
$atoms
    basis =def2-TZVP
    cbas  =def2-TZVP
    jbas  =def2-TZVP
$scfconv 7
$denconv 1.0d-7
$ricc2
  ccsd(t)
$rij
$energy file=energy
$grad file=gradient
$last step     ccsdf12
$basis file=basis
$jbas file=auxbasis
$closed shells
 a       1-4                                    ( 2 )
$scfmo    file=mos
$orbital_max_rnorm 0.76298171996999E-05
$last SCF energy change = -38.893052
$subenergy  Etot         E1                  Ej                Ex                 En
-38.89305162415    -63.59979947505     0.000000000000     0.000000000000     6.054807154250
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x    -0.77996441319243    y    -0.03107027659689    z     0.00000000000001    a.u.
   | dipole | =    1.9840591255  debye
$cbas file=auxbasis
$last CCSD(T) energy change= -.18095237
$end
