$coord file=coord
$eht charge=0 unpaired=0
$symmetry c1
$atoms
    basis =def2-QZVP
    jbas  =def2-QZVP
$dft
  functional b2-plyp
$rij
$disp3 -bj
$last step     ridft
$basis file=basis
$jbas file=auxbasis
$closed shells
 a       1-5                                    ( 2 )
$scfmo    file=mos
$orbital_max_rnorm 0.18518755554092E-04
$energy      SCF               SCFKIN            SCFPOT
     1   -76.33473441735    76.09075686183  -152.42549127918
$last SCF energy change = -76.334734
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En                 Disp
-76.33473441735    -122.8902003131     41.94053977443    -4.217126441159    -.2484326786472     9.080719541397    -.2343002788642E-03
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.44813075328965    y     0.59505943886517    z     0.21730759490587    a.u.
   | dipole | =    1.9723503872  debye
$end
