$coord file=coord
$eht charge=0 unpaired=0
$symmetry c1
$atoms
    basis =def2-QZVP
    jbas  =def2-QZVP
$dft
  functional b-lyp
$rij
$energy file=energy
$grad file=gradient
$last step     ridft
$basis file=basis
$jbas file=auxbasis
$closed shells
 a       1-14                                   ( 2 )
$scfmo    file=mos
$last SCF energy change = -.18473906E-06
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.00039651055349    y     0.00000000000024    z     0.00210266168142    a.u.
   | dipole | =    0.0054386699  debye
$redundant    file=coord
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.20379492186145E-02
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-568.0549226412    -839.2100131557     279.9369863470    -36.70446589011    -1.046015488494     28.96858554607
$end
