$coord file=coord
$eht charge=0 unpaired=0
$symmetry c1
$atoms
    basis =def2-QZVP
    jbas  =def2-QZVP
$dft
  functional b-lyp
$rij
$energy file=energy
$grad file=gradient
$last step     ridft
$basis file=basis
$jbas file=auxbasis
$closed shells
 a       1-14                                   ( 2 )
$scfmo    file=mos
$last SCF energy change = -.18318678E-06
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.00040972650616    y    -0.00000000000079    z    -0.00038782551039    a.u.
   | dipole | =    0.0014339804  debye
$redundant    file=coord
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.20026100124589E-02
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-568.0549244365    -831.5650114020     276.1156357319    -36.70447069190    -1.046012137765     25.14493406336
$end
