$coord file=coord
$eht charge=0 unpaired=0
$symmetry c1
$atoms
    basis =def2-QZVP
    jbas  =def2-QZVP
$dft
  functional b-lyp
$rij
$disp3 -bj
$energy file=energy
$grad file=gradient
$last step     ridft
$basis file=basis
$jbas file=auxbasis
$closed shells
 a       1-23                                   ( 2 )
$scfmo    file=mos
$last SCF energy change = -.19062600E-06
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.00041001734338    y    -0.00000000000127    z    -0.00020791770459    a.u.
   | dipole | =    0.0011685047  debye
$redundant    file=coord
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.20214222996176E-02
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En                 Disp
-2794.346029240    -3952.198635268     1225.446716689    -100.3501249102    -2.043658201324     34.80207332601    -.2400875212037E-02
$end
