$coord file=coord
$eht charge=0 unpaired=0
$symmetry c1
$atoms
    basis =def2-QZVP
    jbas  =def2-QZVP
$dft
  functional b-lyp
$rij
$energy file=energy
$grad file=gradient
$last step     ridft
$basis file=basis
$jbas file=auxbasis
$closed shells
 a       1-23                                   ( 2 )
$scfmo    file=mos
$last SCF energy change = -.18395622E-06
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.00040891344263    y     0.00000000000325    z    -0.00021065363597    a.u.
   | dipole | =    0.0011691712  debye
$redundant    file=coord
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.19865923890985E-02
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-2794.343628965    -3954.199871840     1226.447211919    -100.3500993507    -2.043657031867     35.80278733805
$end
