$coord file=coord
$eht charge=0 unpaired=0
$symmetry c1
$atoms
    basis =def2-QZVP
    cbas  =def2-QZVP
    jbas  =def2-QZVP
$scfconv 7
$denconv 1.0d-7
$ricc2
  mp2
  geoopt model=mp2
$energy file=energy
$grad file=gradient
$rij
$last step     ricc2
$basis file=basis
$jbas file=auxbasis
$closed shells
 a       1-14                                   ( 2 )
$scfmo    file=mos
$last SCF energy change = -.21724190E-07
$charge from ridft
          0.000 (not to be modified here)
$dipole from ricc2
  x     0.00000029936353    y    -0.00000000001203    z     0.00414491100113    a.u.
   | dipole | =    0.0105353926  debye
$cbas file=auxbasis
$last MP2 energy change= 0.50267919E-07
$redundant    file=coord
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.69809306996526E-04
$subenergy  Etot         E1                  Ej                Ex                 En
-567.0340435884    -849.2282462410     0.000000000000     0.000000000000     34.06986442387
$end
