$coord file=coord
$eht charge=0 unpaired=0
$symmetry c1
$atoms
    basis =def2-QZVP
    jbas  =def2-QZVP
$dft
  functional b-lyp
$rij
$disp3 -bj
$energy file=energy
$grad file=gradient
$last step     ridft
$basis file=basis
$jbas file=auxbasis
$closed shells
 a       1-23                                   ( 2 )
$scfmo    file=mos
$last SCF energy change = -.20343850E-06
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.00015126511067    y    -0.00000000000072    z     0.03169604365903    a.u.
   | dipole | =    0.0805648334  debye
$redundant    file=coord
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.28052627222327E-02
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En                 Disp
-2794.345681559    -4008.290887562     1253.482024121    -100.3526809566    -2.045789389514     62.86556501613    -.3912788896469E-02
$end
