$coord file=coord
$eht charge=0 unpaired=0
$symmetry c1
$atoms
    basis =def2-QZVP
    jbas  =def2-QZVP
$dft
  functional b-lyp
$rij
$disp3 -bj
$energy file=energy
$grad file=gradient
$last step     ridft
$basis file=basis
$jbas file=auxbasis
$closed shells
 a       1-23                                   ( 2 )
$scfmo    file=mos
$last SCF energy change = -.19040772E-06
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.00041025183332    y     0.00000000000388    z    -0.00021997504689    a.u.
   | dipole | =    0.0011832065  debye
$redundant    file=coord
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.20201976674966E-02
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En                 Disp
-2794.346028618    -3951.570582364     1225.132720546    -100.3501240917    -2.043658164759     34.48801558685    -.2400129928025E-02
$end
