$coord file=coord
$eht charge=0 unpaired=0
$symmetry c1
$atoms
    basis =def2-QZVP
    jbas  =def2-QZVP
$dft
  functional b-lyp
$rij
$disp3 -bj
$energy file=energy
$grad file=gradient
$last step     ridft
$basis file=basis
$jbas file=auxbasis
$closed shells
 a       1-23                                   ( 2 )
$scfmo    file=mos
$last SCF energy change = -.21405458E-06
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.00037170193335    y    -0.00000000000268    z     0.00467697444873    a.u.
   | dipole | =    0.0119252571  debye
$redundant    file=coord
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.21774424314474E-02
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En                 Disp
-2794.346109114    -3976.029159575     1237.358482666    -100.3500972921    -2.043687008732     46.72091234021    -.2560244932750E-02
$end
