$coord file=coord
$eht charge=0 unpaired=0
$symmetry c1
$atoms
    basis =def2-QZVP
    jbas  =def2-QZVP
$dft
  functional b-lyp
$rij
$disp3 -bj
$energy file=energy
$grad file=gradient
$last step     ridft
$basis file=basis
$jbas file=auxbasis
$closed shells
 a       1-14                                   ( 2 )
$scfmo    file=mos
$last SCF energy change = -.19310255E-06
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.00040153944707    y    -0.00000000000736    z     0.00110637394607    a.u.
   | dipole | =    0.0029916239  debye
$redundant    file=coord
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.20940830379492E-02
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En                 Disp
-568.0573615326    -837.3070013503     278.9858882513    -36.70450907773    -1.046012842636     28.01671008155    -.2436594856744E-02
$end
