$coord file=coord
$eht charge=0 unpaired=0
$symmetry c1
$atoms
    basis =def2-QZVP
    jbas  =def2-QZVP
$dft
  functional b-lyp
$rij
$energy file=energy
$grad file=gradient
$last step     ridft
$basis file=basis
$jbas file=auxbasis
$closed shells
 a       1-14                                   ( 2 )
$scfmo    file=mos
$last SCF energy change = -.18280491E-06
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.00039998483593    y    -0.00000000000526    z     0.00145623689571    a.u.
   | dipole | =    0.0038384986  debye
$redundant    file=coord
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.20434216590083E-02
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-568.0549250471    -837.9144591567     279.2894644411    -36.70447602410    -1.046012276439     28.32055796905
$end
